/* 🟥 HEADER */
.topbox {
  /* width: 100%; */
  max-width: 600px;
  background-color: #dc0a2d;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: auto;
}

h1 {
  color: white;
  font-size: 40px;
  margin-left: 2em;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 5px;
  background-color: white;
  width: 100%;
  max-width: 350px;
}

.search-box i {
  margin-right: 5px;
  color: #dc0a2d;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
}

/* 🟩 POKÉMON LISTE */
.pokelist {
  width: 100%;
  max-width: 600px;
  min-height: 500px; /* Sørger for plads */
  margin: auto;
  border: 4px solid #dc0a2d;
  padding-bottom: 5em;
}

.div_flex {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(150px, 1fr)
  ); /* Automatisk tilpasning */
  gap: 20px;
  width: 100%;
}

/* 🎨 POKÉMON KORT */
.roed__baggrund {
  min-width: 104px;
  max-width: 180px;
  min-height: 200px;
  padding: 10px;
  text-align: center;
  background-color: white;
  border: 2px solid #EFEFEF;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.roed__baggrund img {
  width: 120px;
  height: 120px;
}

.roed__baggrund h2 {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
  margin-top: 5px;
}

.baggrund__poke {
  width: 100%;
  max-width: 150px;
  background-color: lightgray;
  border-radius: 5px;
  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* 🏆 FORBEDRINGER */
.head__flex {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Sørger for bedre justering */
  gap: 10px;
}
